adapter-transformers
aiohttp
aiosignal
async-timeout
attrs
bitsandbytes
black
certifi
emoji
filelock
frozenlist
fsspec
huggingface-hub
charset-normalizer
idna
ipykernel
isort
iterative-stratification
Jinja2
MarkupSafe
mpmath
multidict
networkx
numpy
packaging
pandas
peft
polars
pylama
python-dateutil
pytz
PyYAML
regex
requests
six
sympy
tokenizers
torch
torchmetrics
tqdm
transformers
tweet-preprocessor
typing_extensions
tzdata
urllib3
wandb
yarl
