aiohttp
aiosignal
async-timeout
attrs
black
certifi
filelock
frozenlist
fsspec
huggingface-hub
charset-normalizer
idna
ipykernel
isort
Jinja2
MarkupSafe
mpmath
multidict
networkx
numpy
packaging
pandas
polars
pylama
python-dateutil
pytz
PyYAML
regex
requests
six
sympy
tokenizers
torch
torchmetrics
tqdm
transformers
typing_extensions
tzdata
urllib3
wandb
yarl
